body {
  padding-bottom: 70px;
}

header {
  margin-top: 20px;
}

.brand {
  padding-top: 20px;
}

.right-header img {
  text-align: right;
  height: 50px;
  width: 50px;
  border: rgb(114, 202, 114) solid 3px;
  border-radius: 50%;
}

nav {
  margin-top: 20px;
}

nav a {
  color: rgb(146, 141, 141);
  font-size: 13px;
}

.story-tag {
  text-transform: uppercase;
  font-size: 11px;
  color: rgb(146, 141, 141);
}

.sub-title, .time-tag {
  font-size: 11px;
  color: rgb(146, 141, 141);
}

.name-tag {
  font-size: 11px;
}

section {
  margin-top: 40px;
}

section img {
  height: 140px;
  width: 170px;
}

.avatar {
  height: 50px;
  width: 50px;
  border: rgb(114, 202, 114) solid 3px;
  border-radius: 50%;
}

footer a {
  color: rgb(146, 141, 141);
  font-size: 11px;
}

.block {
  width: 50%;
  margin: auto;
}

.story-sub-title {
  color: rgb(146, 141, 141);
}

.story-avatar {
  height: 70px;
  width: 70px;
  border: rgb(114, 202, 114) solid 3px;
  border-radius: 50%;
}

.social-icons {
  margin-top: 40px;
}

.story-image {
  width: 100%;
  height: 100%;
}

.alt-text {
  font-size: 11px;
  color: rgb(146, 141, 141);
  text-align: center;
}

.text {
  font-size: 13px;
}